<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TechFundi</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
<main class="main-holder">


    <div class="form-holder" >
        <form class="register-form">
            <h1 class="register-header">Sign Up</h1>
            <input type="text" name="Username" placeholder="Username" required><br>
            <input type="email" name="Email" placeholder="Enter Email address"   required><br>
            <input type="password" name="password"  placeholder="Password" minlength="8" required><br>
            <button>Create</button>
            <p class="message">Already Registered?<a href="#">Log in</a> </p>





        </form>
        <form class="login-form" action="homepage.html">
            <h1 class="login-header">Login</h1>
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="text" name="Email" placeholder="Email Address" required><br>
            <input type="password" minlength="8" name="Password" placeholder="Password" required><br>
            <button onclick="welcome()">Log in</button>

            <p class="message">Not Registered? <a href="#">Sign up</a> </p>
        </form>
    </div>




</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    $('.message a').click(function () {
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>

</body>
</html>